# Arquivos de ambiente - NUNCA ENVIE PARA O GITHUB
.env

# Dependências
node_modules/

# Arquivos de build de produção
dist/

# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Cache e outros arquivos de sistema
.eslintcache
.DS_Store
.vercel
.env*.local
